<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proccessing</title>
    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap" rel="stylesheet">

    <style>
        .center{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 90vh;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: large;
            color:rgb(185, 32, 12);
            /* flex-wrap: wrap; */

        }
    </style>
    

    <script>
    setTimeout(function() {
        window.location.href = '/vr';            
    }, 4000);




    </script>
</head>
<body >
   





   <div class="center">
    <div class="item">
        
        <dotlottie-player src="https://lottie.host/3349dcf8-c858-47e3-965b-b4d255c9622a/xF2TlPnyKV.json" background="transparent" speed="1" style="width: 300px; height: 300px;" autoplay></dotlottie-player>
    </div>
    <div class="break"></div> <!-- break to a new row -->
    <div class="item">
        <h3 style="font-size: larger; color: #47e228;">Location Added successfully !!!</h3>
    </div>
</div>
    
</body>
</html>